<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="3">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>%f0%9f%94%92+Internal/Image+Cropper</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "1x1",
      "height": 1080,
      "width": 1080
    }
  ]
}]]></Config>
</DataType>