<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4d66c0f-b935-4200-81f0-025f7256b89a" Alias="Date Picker with time" Level="3">
  <Info>
    <Name>Date Picker with time</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
    <Folder>%f0%9f%94%92+Internal/Date</Folder>
  </Info>
  <Config><![CDATA[{
  "format": "YYYY-MM-DD HH:mm:ss"
}]]></Config>
</DataType>