<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb5f57c9-ce2b-4bb9-b697-4caca783a805" Alias="Radiobox" Level="3">
  <Info>
    <Name>Radiobox</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>%f0%9f%94%92+Internal/List</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>