<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b57d00e-5593-45d3-affe-24203b239bd3" Alias="Articulate Theme Picker" Level="1">
  <Info>
    <Name>Articulate Theme Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>