<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbcb0707-021d-4cd4-ba8b-5cc891516c28" Alias="Articulate Rich Text" Level="3">
  <Info>
    <Name>Articulate Rich Text</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>%f0%9f%94%a7+Custom/Text</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "umbembeddialog"
    ],
    "mode": "distraction-free"
  },
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": null
}]]></Config>
</DataType>