<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a72aeb12-5b28-4a47-b99a-fde14d49c1ac" Alias="Articulate Categories" Level="3">
  <Info>
    <Name>Articulate Categories</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>%f0%9f%94%a7+Custom/Tags</Folder>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "ArticulateCategories",
  "StorageType": 1
}]]></Config>
</DataType>