<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31d931c7-ce89-40a1-934e-664be25a1e8c" Alias="Articulate Markdown" Level="3">
  <Info>
    <Name>Articulate Markdown</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>%f0%9f%a6%84+Third+Party/Articulate</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>