<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9448abd4-d071-4075-9e25-3198a71c935f" Alias="Articulate Image Picker" Level="3">
  <Info>
    <Name>Articulate Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>%f0%9f%94%a7+Custom/Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "blogPost",
      "height": 200,
      "label": "Blog Post",
      "width": 200
    },
    {
      "alias": "square",
      "height": 480,
      "label": "Square",
      "width": 480
    },
    {
      "alias": "thumbnail",
      "height": 50,
      "label": "Thumbnail",
      "width": 50
    },
    {
      "alias": "wide",
      "height": 512,
      "label": "Wide",
      "width": 1024
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>