<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ce9e1f75-6428-46b1-8711-84829b9b3d1c" Alias="ArticulateArchive" Level="1">
  <Info>
    <Name>Articulate Archive</Name>
    <Icon>icon-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9c2df3ea-74d9-41ef-8773-07960ac5a819" SortOrder="0">ArticulateMarkdown</ContentType>
    <ContentType Key="f330d2ba-6f97-43dc-9d7a-39b9dd103235" SortOrder="1">ArticulateRichText</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4a18e03b-b5ac-401b-ac32-5db074040f53</Key>
      <Name>Umbraco Url Name</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Umbraco Url Name for this node, this will be the prefix URL for each blog post]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>