<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d9794c70-2ad1-40ad-b4d1-98c9a9684385" Alias="ArticulateAuthors" Level="1">
  <Info>
    <Name>Articulate Authors</Name>
    <Icon>icon-user-females-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="69826635-b934-4a99-8135-7d23171655e4" SortOrder="0">ArticulateAuthor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>