<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f330d2ba-6f97-43dc-9d7a-39b9dd103235" Alias="ArticulateRichText" Level="1">
  <Info>
    <Name>Articulate Rich Text</Name>
    <Icon>icon-post-it color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="e25614de-4456-43de-9d61-eb9586de6f46">ArticulatePost</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2bfdcfce-e682-4dcf-88f5-7db7ce1ea7c0</Key>
      <Name>Rich Text</Name>
      <Alias>richText</Alias>
      <Definition>dbcb0707-021d-4cd4-ba8b-5cc891516c28</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4f49ea41-3e4b-43d7-99cd-50a6254c8bf4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>