<?xml version="1.0" encoding="utf-8"?>
<Content Key="f079a99a-f736-42e3-a52e-12d4bd5d3d6e" Alias="Articles" Level="2">
  <Info>
    <Parent Key="287ce3a2-f2f6-42d5-8eb5-8ac23650d1aa">Blog</Parent>
    <Path>/Blog/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>ArticulateArchive</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>