<?xml version="1.0" encoding="utf-8"?>
<Content Key="033daa41-1de7-423a-b839-647e4bf5a365" Alias="Authors" Level="2">
  <Info>
    <Parent Key="287ce3a2-f2f6-42d5-8eb5-8ac23650d1aa">Blog</Parent>
    <Path>/Blog/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>ArticulateAuthors</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>