<?xml version="1.0" encoding="utf-8"?>
<Content Key="287ce3a2-f2f6-42d5-8eb5-8ac23650d1aa" Alias="Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Articulate</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blogBanner>
      <Value><![CDATA[[
  {
    "key": "2dff0cea-f50a-48ed-b620-8390d53affa5",
    "mediaKey": "099d87d7-8014-4b22-8608-4e05a2aeb2b1",
    "crops": [
      {
        "alias": "blogPost",
        "label": "Blog Post",
        "coordinates": {
          "x1": 0.10122476808905376,
          "y1": 0,
          "x2": 0.12877523191094617,
          "y2": 0
        }
      },
      {
        "alias": "square",
        "label": "Square",
        "coordinates": {
          "x1": 0.09629077984615704,
          "y1": 0,
          "x2": 0.13370922015384293,
          "y2": 0
        }
      },
      {
        "alias": "thumbnail",
        "label": "Thumbnail",
        "coordinates": {
          "x1": 0.10911525974025969,
          "y1": 0,
          "x2": 0.12088474025974026,
          "y2": 0
        }
      },
      {
        "alias": "wide",
        "label": "Wide",
        "coordinates": {
          "x1": 0,
          "y1": 0.35064935064935066,
          "x2": 0,
          "y2": 0
        }
      }
    ],
    "focalPoint": {
      "left": 0.482,
      "top": 0.4688311688311688
    }
  }
]]]></Value>
    </blogBanner>
    <blogDescription>
      <Value><![CDATA[Welcome to my blog!]]></Value>
    </blogDescription>
    <blogLogo>
      <Value><![CDATA[[
  {
    "key": "2bbdaf24-d0e9-40ce-a392-69610857646e",
    "mediaKey": "92382c05-d427-42ad-9a70-3a5d69939d62"
  }
]]]></Value>
    </blogLogo>
    <blogTitle>
      <Value><![CDATA[Articulate Blog]]></Value>
    </blogTitle>
    <categoriesPageName>
      <Value><![CDATA[Categories]]></Value>
    </categoriesPageName>
    <categoriesUrlName>
      <Value><![CDATA[categories]]></Value>
    </categoriesUrlName>
    <customRssFeedUrl>
      <Value><![CDATA[]]></Value>
    </customRssFeedUrl>
    <disqusShortname>
      <Value><![CDATA[]]></Value>
    </disqusShortname>
    <extractFirstImage>
      <Value><![CDATA[1]]></Value>
    </extractFirstImage>
    <googleAnalyticsId>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsId>
    <googleAnalyticsName>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsName>
    <pageSize>
      <Value><![CDATA[10]]></Value>
    </pageSize>
    <redirectArchive>
      <Value><![CDATA[1]]></Value>
    </redirectArchive>
    <searchPageName>
      <Value><![CDATA[Search results]]></Value>
    </searchPageName>
    <searchUrlName>
      <Value><![CDATA[search]]></Value>
    </searchUrlName>
    <tagsPageName>
      <Value><![CDATA[Tags]]></Value>
    </tagsPageName>
    <tagsUrlName>
      <Value><![CDATA[tags]]></Value>
    </tagsUrlName>
    <theme>
      <Value><![CDATA[VAPOR]]></Value>
    </theme>
    <useDateFormatForUrl>
      <Value><![CDATA[0]]></Value>
    </useDateFormatForUrl>
  </Properties>
</Content>