<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1f58541-7a3c-49e2-967c-2f15e365ad9b" Alias="Jane Doe" Level="3">
  <Info>
    <Parent Key="033daa41-1de7-423a-b839-647e4bf5a365">Authors</Parent>
    <Path>/Blog/Authors/JaneDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>ArticulateAuthor</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Jane Doe" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <authorBio>
      <Value><![CDATA[Jane Doe writes articles for businesses who love coffee as much as she does. Her articles have appeared in a number of coffee related magazines such as beanscenemag.com.au and dailycoffeenews.com. Her articles focus on the health benefits coffee has to offer –but never at the expense of providing an entertaining read.]]></Value>
    </authorBio>
    <authorImage>
      <Value><![CDATA[[
  {
    "key": "e8dda7cb-28cc-4acc-96bd-d9d66a2e36e3",
    "mediaKey": "2da0a9a9-bac5-4c69-aa16-10eb28035b60"
  }
]]]></Value>
    </authorImage>
    <authorUrl>
      <Value><![CDATA[https://github.com/shazwazza/articulate]]></Value>
    </authorUrl>
  </Properties>
</Content>