<?xml version="1.0" encoding="utf-8"?>
<Content Key="e58d2999-c1d5-4197-a59c-3dd4c9192322" Alias="Latte art" Level="3">
  <Info>
    <Parent Key="f079a99a-f736-42e3-a52e-12d4bd5d3d6e">Articles</Parent>
    <Path>/Blog/Articles/LatteArt</Path>
    <Trashed>false</Trashed>
    <ContentType>ArticulateMarkdown</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Latte art" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Jane Doe]]></Value>
    </author>
    <categories>
      <Value><![CDATA[[
  "Coffee"
]]]></Value>
    </categories>
    <enableComments>
      <Value><![CDATA[0]]></Value>
    </enableComments>
    <excerpt>
      <Value><![CDATA[Latte art is a method of preparing coffee created by pouring steamed milk into a shot of espresso, resulting in a pattern or design on the surface of the latte. ]]></Value>
    </excerpt>
    <importId>
      <Value><![CDATA[]]></Value>
    </importId>
    <markdown>
      <Value><![CDATA[Latte art is a method of preparing coffee created by pouring steamed milk into a shot of espresso, resulting in a pattern or design on the surface of the latte. Latte art is hard to create consistently because of the many factors involved with creating coffee, from the coffee acidity, temperature, to the type of milk and equipment being used. Don't expect that you'll be able to make latte art the first time you try, in fact it will probably take you a great number of tries to make something work and you'll be hoping that you're using some quality equipment, otherwise you'll stand no chance.

Good latte art means you've found a cafe with a good barista so there's a good chance if you're seeing a a great design in your coffee, it's also going to taste wonderful.]]></Value>
    </markdown>
    <postImage>
      <Value><![CDATA[[
  {
    "key": "44388e9c-582c-4ec0-9772-c3aefdd71c65",
    "mediaKey": "ae1d95c1-e3d9-4c3e-bd77-8ddb9d4bb93c",
    "crops": [
      {
        "alias": "blogPost",
        "label": "Blog Post",
        "coordinates": {
          "x1": 0.21875383654096486,
          "y1": 0,
          "x2": 0.11324616345903515,
          "y2": 0
        }
      },
      {
        "alias": "square",
        "label": "Square",
        "coordinates": {
          "x1": 0.19841706003035708,
          "y1": 0,
          "x2": 0.1335829399696428,
          "y2": 0
        }
      },
      {
        "alias": "thumbnail",
        "label": "Thumbnail",
        "coordinates": {
          "x1": 0.20411296326266384,
          "y1": 0,
          "x2": 0.12788703673733615,
          "y2": 0
        }
      },
      {
        "alias": "wide",
        "label": "Wide",
        "coordinates": {
          "x1": 0,
          "y1": 0.14562060035630495,
          "x2": 0,
          "y2": 0.10587640563171909
        }
      }
    ],
    "focalPoint": {
      "left": 0.532,
      "top": 0.5374251497005988
    }
  }
]]]></Value>
    </postImage>
    <publishedDate>
      <Value><![CDATA[2023-02-25T15:31:46]]></Value>
    </publishedDate>
    <socialDescription>
      <Value><![CDATA[Latte art is a method of preparing coffee created by pouring steamed milk into a shot of espresso, resulting in a pattern or design on the surface of the latte. ]]></Value>
    </socialDescription>
    <tags>
      <Value><![CDATA[[
  "Cafe",
  "Milk",
  "Espresso"
]]]></Value>
    </tags>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>