<?xml version="1.0" encoding="utf-8"?>
<Content Key="7355953d-cf88-4228-8fd4-5f34b1672e8b" Alias="Welcome" Level="3">
  <Info>
    <Parent Key="f079a99a-f736-42e3-a52e-12d4bd5d3d6e">Articles</Parent>
    <Path>/Blog/Articles/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>ArticulateMarkdown</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Jane Doe]]></Value>
    </author>
    <categories>
      <Value><![CDATA[[
  "Articulate"
]]]></Value>
    </categories>
    <enableComments>
      <Value><![CDATA[0]]></Value>
    </enableComments>
    <excerpt>
      <Value><![CDATA[Hi! Welcome to blogging with Articulate :) This is a fully functional blog engine supporting many features.]]></Value>
    </excerpt>
    <importId>
      <Value><![CDATA[]]></Value>
    </importId>
    <markdown>
      <Value><![CDATA[## Hi! Welcome to Articulate :)

This is a fully functional blog engine supporting many features:

* Categories & Tags
* Themes
* Live Writer support
* Markdown support
* Easily post from your mobile phone including adding images and photos direct from you camera
* Disqus or Facebook comment support (or build your own)
* Search
* Blogml import/export
* RSS
* Customizable urls
* Author profiles

Articulate is open source and hosted on GitHub:
[https://github.com/Shandem/Articulate/](https://github.com/Shandem/Articulate)

It comes with a few themes which have different features enabled. You can easily change themes on the root Articulate node on the style tab. Themes are super easy to create and in fact the 4 themes shipped with Articulate are MIT licensed themes originally built for the Ghost blogging platform.

Comments are powered by Disqus (Facebook or custom comment engines can be used which can be enabled in the templates).

Live Writer integration is fully functional, to configure Live Writer just use the URL of the Articulate root node and use your Umbraco username/password.

You can post directly from your mobile (including images and photos). This editor can be found at the path of "/a-new". Click [Here](../a-new) to see it in action. Now you can post your thoughts wherever you are, from a cafe, on the road, etc... all without needing your computer. 

Enjoy!]]></Value>
    </markdown>
    <postImage>
      <Value><![CDATA[[
  {
    "key": "04019436-5ffa-4de5-b84f-9391f1fb205e",
    "mediaKey": "de9a3ae1-7694-425d-abaa-70b1f89b762d"
  }
]]]></Value>
    </postImage>
    <publishedDate>
      <Value><![CDATA[2023-03-07T15:31:46]]></Value>
    </publishedDate>
    <socialDescription>
      <Value><![CDATA[Welcome to blogging with Articulate, a fully functional blog engine supporting all of the blogging features you'd want.]]></Value>
    </socialDescription>
    <tags>
      <Value><![CDATA[[
  "Cafe",
  "Markdown"
]]]></Value>
    </tags>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>