<?xml version="1.0" encoding="utf-8"?>
<Media Key="d923fffc-e62f-4fe4-8762-b83bb8d40df1" Alias="Articulate" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Articulate</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Articulate" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>