<?xml version="1.0" encoding="utf-8"?>
<Media Key="099d87d7-8014-4b22-8608-4e05a2aeb2b1" Alias="Banner" Level="2">
  <Info>
    <Parent Key="d923fffc-e62f-4fe4-8762-b83bb8d40df1">Articulate</Parent>
    <Path>/Articulate/Banner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Banner" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0gdj0ciu/banner.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>