<?xml version="1.0" encoding="utf-8"?>
<Media Key="de9a3ae1-7694-425d-abaa-70b1f89b762d" Alias="Post1" Level="2">
  <Info>
    <Parent Key="d923fffc-e62f-4fe4-8762-b83bb8d40df1">Articulate</Parent>
    <Path>/Articulate/Post1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Post1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/223jvxuu/post1.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>