<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae1d95c1-e3d9-4c3e-bd77-8ddb9d4bb93c" Alias="Post2" Level="2">
  <Info>
    <Parent Key="d923fffc-e62f-4fe4-8762-b83bb8d40df1">Articulate</Parent>
    <Path>/Articulate/Post2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T18:54:54</CreateDate>
    <NodeName Default="Post2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y4kb1lwz/post2.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>