<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed2ea712-483a-4da4-9c5f-9e801907123e" Alias="fgdfgfdgdfg" Level="3">
  <Info>
    <Name>fgdfgfdgdfg</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Label</EditorUIAlias>
    <Folder>%f0%9f%94%a7+Custom/Text</Folder>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "STRING"
}]]></Config>
</DataType>